# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.local
.env.production

# build
dist/
build/

# OS
.DS_Store
Thumbs.db

# backend (se tiver separado)
backend/node_modules/
backend/.env